* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #177bc0;
  color: #177bc0;
}

textarea {
  display:block;
  width: 100%;
  height: 13rem;
  resize: none;
  outline: none;
  border-radius: 25px;
  padding: 1rem;
  margin: auto;
  border: 2px dashed #177bc0;
  color: gray;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
  /*box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;*/
  /*border: 1px solid black;*/
}

@media screen and (max-width: 780px) {
  .main-container {
    width: 480px;
  }
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.col {
  background-color: white;
  margin: 1rem;
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.col-dflex-justbetween {
  display: flex;
  justify-content: space-between;
}

.flex50 {
  flex-basis: 50%;
}

.flex30 {
  flex-basis: 30%;
}

.flex20 {
  flex-basis: 20%;
}

.noflexwrap {
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}

.rowwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rownowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column {
  flex-basis: 100%;
}

.header {
  display: fixed;
  height: 6rem;
  margin-bottom: 2rem;
  background-color: #095283;
  color: white;
  font-family: monospace;
  font-size: 2rem;
  /*border-bottom: 1px solid #177bc0;*/
}

.header h1 {
  margin: 1rem;
}

/*@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}*/


.output {
  margin: 0 0 3rem 0;
  padding: .5rem;
  font-family: monospace;
  font-size: 1.5rem;
  color: white;
  width: 100%;
  height: 16rem;
  overflow-y: hidden;
  background-color: #363535;
}

@media screen and (max-width: 780px) {
  .output {
    overflow-y: scroll;
  }
}

#counter {
  text-align: right;
  color: #177bc0;
  margin: .25rem;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 500;
}

.settings-label {
  font-family: monospace;
}

.switch {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 2rem;
  height: 1rem;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 2.5rem;
  height: 1rem;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #177bc0;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}
