* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #177bc0;
  color: white;
}

textarea {
  display:block;
  width: 100%;
  height: 13rem;
  resize: none;
  outline: none;
  border-radius: 25px;
  padding: 1rem;
  margin: auto;
  border: 2px dashed #177bc0;
  color: gray;
}

.main-container {
  width: 780px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 25px;
  background-color: white;
  /*border: 1px solid black;*/
}

@media screen and (max-width: 780px) {
  .main-container {
    width: 480px;
  }
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

.header {
  display: fixed;
  height: 6rem;
  margin-bottom: 2rem;
  background-color: #095283;
  color: white;
  font-family: monospace;
  font-size: 2rem;
  /*border-bottom: 1px solid #177bc0;*/
  /*box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;*/
}

.header h1 {
  margin: 1rem;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}


.output {
  margin: 0 0 3rem 0;
  padding: .5rem;
  font-family: monospace;
  font-size: 1.5rem;
  width: 100%;
  height: 16rem;
  overflow-y: hidden;
  background-color: #363535;
}

@media screen and (max-width: 780px) {
  .output {
    overflow-y: scroll;
  }
}

#counter {
  text-align: right;
  color: #177bc0;
  margin: .25rem;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 600;
}
