* {
  box-sizing: border-box;
}

body {
  background: rgb(23,123,192);
  background: radial-gradient(circle, rgba(23,123,192,1) 40%, rgba(9,82,131,1) 100%);
  font-family: Arial;
  color: white;
}

header {
  margin-bottom: 5rem;
}

.container{
  width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-width-100 {
  width: 100%;
}

.row-border-white {
  border: 2px solid white;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-basis: 100%;
}

.col-85{
  flex-basis: 85%;
}

.text-align-center {
  text-align: center;
}

.no-flex-basis {
  flex-basis: 0%;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.no-wrap-row {
  flex-wrap: nowrap;
}

/*@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}*/

.section-titles {
  color: white;
  font-size: 2rem;
}

.output {
  font-size: 2rem;
  margin-bottom: 0;
  padding: 2.5rem 1rem;
  border: 3px white solid;
  width: 800px;
  height: auto;
}

.submit-error-message {
  visibility: hidden;
  height: 1rem;
  width: 100%;
  text-align: center;
  margin: 5rem 0 .5rem 0;
  color: #f15b60;
  font-weight: 700;

}

.input-editor-column {
  /*margin-top: 5rem;*/
}

.textarea-input {
  width: 100%;
  height: 3.75rem;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /*box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;*/
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: Helvetica;
  resize: none;
  /*overflow-y: hidden;*/
  border: 0px solid black;
  transition: box-shadow .25s;
  tranistion: border-width 0.3s linear;
  transition: height .75s;
  transition-delay: 200ms;
  margin: 0 .5rem;

}

.textarea-input:focus-within {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 7px 29px 0px;
  display: absolute;
  height: 300px;
}

.button {
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  border: none;
  margin: 1rem .25rem .25rem .25rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  outline: none;
}

.button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 4.3px;
}

#submit-button {
  max-height: 3.5rem;
  height: 3.5rem;
  width: 4rem;
  margin: 0;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #095283;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#submit-button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 4.3px;
  background-color: rgba(64,192,192,.85);
}

#submit-button:active {
  background-color: rgba(255,255,255,.6);
}

#counter {
  visibility: hidden;
  color: white;
  margin: .75rem .25rem .75rem .25rem;
  height: 1.5rem;
  font-weight: 500;
}

#back-button {
  background-color: #40c0c0;
}

#back-button:hover {
  background-color: rgba(64,192,192,.8);
}

#reset-button {
  background-color: #f15b60;
}

#reset-button:hover {
  background-color: rgba(241,91,96,.8);
}

.settings-column {
  flex-wrap: wrap;
  opacity: 0;
}

.remove-replace-input {
}

#settings-cog-button {
  background-color: rgba(0,0,0,0);
  outline: none;
  border: none;
  box-shadow: none;
  margin: 0;
}

#settings-cog-button:hover {
 color: #095283;
}
.settings-container {
  width: 375px;
  margin: 0 auto;
}
.setting-row {
  width: 100%;
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.setting-label {
  margin-right: .75rem;
  font-size: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  margin-right: 2.5rem;
}

.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 2rem;
  height: 1rem;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 2.5rem;
  height: 1rem;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #177bc0;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}

#reset-button-settings {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  background-color: #f15b60;
}

#reset-button-settings:hover {
  background-color: rgba(241,91,96,.8);
}

.remove-replace-input-container {
  margin-top: .5rem;
}

.remove-replace-input {
  margin: .5rem .25rem .5rem .5rem;
  padding: 1rem;
  height: 2rem;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 95%;
}

.align-items-start {
  align-items: start;
}

.row-border-white {
  border: 3px solid white;
}

#replace-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #40c0c0;

}

#replace-button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 4.3px;
  background-color: rgba(64,192,192,.85);
}

.remove-replace-results {
  width: 100%;
}

#replace-submission-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  overflow-y: scroll;
  list-style-type: none;
  font-size: .75rem;
  height: 150px;
  padding: 0;

}

#replace-submission-container div {
  margin: .75rem .5rem .25rem .5rem;
  background-color: #095283;
  padding: .12rem 0;
  border-radius: .6rem;

}

.overflow-hidden {
  overflow: hidden;
}

.remove-mark {
  border-radius: .6rem;
  background-color: #f15b60;
  color: white;
  padding: .12rem .3rem;
  margin-right: .25rem;
}

.replace-mark {
  border-radius: .6rem;
  background-color: #40c0c0;
  color: white;
  padding: .15rem .35rem;
  margin-left: .25rem;
}

#replace-submission-container::-webkit-scrollbar {
    width: 0;
}

#replace-submission-container::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}


textarea::-webkit-scrollbar {
    width: 0;
}

textarea::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

.hidden {
  overflow: hidden;
  opacity: 0;
}

.hide-me {
}

.settings-hide {

}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;

}
